html{
    height: 100%;
}
body{
    overflow-x: hidden;
}

.header{
    background-color: aqua;
    overflow-y: hidden;
    text-align: center;
    font-size: larger;
    padding: 20px;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.slider{
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.footercontent{
    
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    text-align: center;
    height: auto;
    padding: 20px;
    
}
p{
    margin-top: 25px;
    font-size: 25px;
    color: black;
}

a:link{
    color: black;
}
a:hover{
    color: white;
}
.linkbox{
    font-size: 50px;
    color: black;
}
@media only screen and (max-width: 480px) {
    .header{
        width: 100%;
        height: auto;
        text-align: center;
        overflow-y: hidden;
        padding: 20px;
    }

    .slider{
        width: auto;
        height: 600px;
        background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    #img{
        height: 350px;

    }
    .footercontent{
        overflow-y: hidden;
        height: auto;
        padding: 25px;
    }

}